global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode tcp
    option tcplog

    timeout connect 5s
    timeout client 30s
    timeout server 30s

listen stats
    mode http
    bind *:8404

    stats enable
    stats uri /stats
    stats refresh 5s

    stats show-legends
    stats show-node

    
frontend postgres
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    mode tcp

    option httpchk GET /primary
    http-check expect status 200

    server postgres-1 {{ hostvars['postgres-1']['ansible_host'] }}:5432 check port 8008
    server postgres-2 {{ hostvars['postgres-2']['ansible_host'] }}:5432 check port 8008

